/******************* CSS Document ****************/
*, *::after, *::before {
    box-sizing: border-box;  
    padding: 0;
    margin: 0;
    border: 0;
  }

  html {
      scroll-behavior: smooth;
  }
  
  a {
    cursor: pointer;
  }
  
  a:focus-visible, a:active, button:focus, button:active {
    outline-color: black;
  }

/******************* Typography ****************/

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.6em;
    font-weight: 700;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

h4 {
    color: #4200FF;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 600; 
}

h4:before {
    content: '';
    display: inline-block;
    width: 3em;
    height: 2px;
    border-radius: 100px;
    background: #4200FF;
    margin: 0 1em 4px 0;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 600; 
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 500; 
    line-height: 26px;
    color: #6B6B6B;
}

a {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 600;
}

a.fill {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    background: #4200FF;
    color: white;
    border-radius: 100px;
    padding: 1.2em 3em;
    text-decoration: none;
}

/******************* Header ****************/

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: white;
}

header .desktop {
    max-width: 1150px;
    padding: 2em 1.5em;
    margin: auto;
    display: block;
    transition: .4s ease;
}

header .desktop nav {
    display: flex;
    justify-content: space-between;
}

header .desktop nav > a {
    display: flex;
}

header .desktop nav ul {
    display: flex;
}

header .desktop nav ul li {
    list-style-type: none;
    margin-right: 4em;
}

header .desktop nav ul li:last-of-type {
    margin-right: 0em;
}

header .desktop nav ul li:last-of-type a {
    color: white;
}

header .desktop nav ul a {
    text-decoration: none;
    color: black;
    position: relative;
    transition: all 100ms ease-in-out;
}

button.menu-trigger-open {
    display: none;
    background: none;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}

button.menu-trigger-open img {
    width: 100%;
}

/* Mobile Overlay */

header .mobile {
    transform: translateX(200%);
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: .4s ease;
}

header .mobile.active {
    transform: translateX(0);
}

header .mobile nav > a img {
    display: block;
    margin: auto;
    width: 10em;   
    margin-bottom: 4em;
}

header .mobile ul {
    margin: 4em 0;
    text-align: center;
    list-style-type: none;
}

header .mobile ul li {
    margin: 3em 0;
}

header .mobile ul li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

header .mobile ul li:last-of-type {
    margin-top: 4em;
}

header .mobile ul li:last-of-type a {
    color: white;
}

header .mobile .menu-trigger-close {
    position: absolute;
    top: 2em;
    right: 2em;
    background: none;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}

header .mobile .menu-trigger-close img {
    width: 100%;
}


/******************* Main ****************/

/* Hero Section */
main #hero {
    max-width: 1150px;
    padding: 1.5em;
    margin: auto;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

main #hero > div:first-of-type {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

main #hero h1 {
    width: 100%;
    margin-bottom: 0.5em;
}

main #hero h4 {
    order: -1;
    width: 100%;
    margin-bottom: 2em;
    position: relative;
}

main #hero p {
    max-width: 38ch;
    margin-bottom: 3em;
    font-size: 1em;
    line-height: 30px;
    font-weight: 400;
}

main #hero > div:first-of-type > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

main #hero a:last-of-type {
    margin-left: 3em;
    padding: 1.2em 0;
    color: #4200FF;
}

main #hero > div:last-of-type {
    width: 40%;
}

main #hero img {
   max-width: 22em;
   width: 100%;
   display: block;
   margin: auto;
}

/* USP Section */
main #usp {
    background: #F5F5F5;
}

main #usp > div {
    max-width: 1150px;
    margin: auto;
    padding: 7.5em 2em;
    display: flex;
    flex-wrap: wrap;
}

main #usp h2 {
    max-width: 30ch;
    margin-bottom: 3em;
}

main #usp h4 {
    width: 100%;
    order: -1;
    margin-bottom: 2em;
    position: relative;
}

main #usp section {
    display: grid;
    grid-column-gap: 5em;
    grid-template-columns: repeat(3, 1fr);
}

main #usp section article h3 {
    margin: 1em 0 .5em;
}

/* Work Section */
main #work {
    max-width: 1150px;
    margin: auto;
    padding: 7.5em 2em;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

main #work h2 {
    width: 100%;
    margin-bottom: 3em;
}

main #work h4 {
    width: 100%;
    order: -1;
    margin-bottom: 2em;
    position: relative;
}

main #work .swiper-container {
    width: 100%;
}

main #work .swiper-slide {
    color: white;
    border-radius: 12px;
    max-width: 17em;
    height: 18em;
}

main #work .swiper-slide:nth-of-type(1) {
    background: #0950BA;
}

main #work .swiper-slide:nth-of-type(2) {
    background: #2EA333;
}

main #work .swiper-slide:nth-of-type(3) {
    background: #000000;
}

main #work .swiper-slide:nth-of-type(4) {
    background: #C61B4E;
}

main #work .swiper-slide:nth-of-type(5) {
    background: #0950BA;
}

main #work .swiper-slide:nth-of-type(6) {
    background: #2EA333;
}

main #work .swiper-slide a {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

main #work .swiper-slide img {
    margin-bottom: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%); 
}

main #work .swiper-slide div {
    position: absolute;
    bottom: 1em;
    left: 1.5em;
}

main #work .swiper-slide h5 {
    color: white;
    font-size: 1.2em;
}

main #work .swiper-slide p {
    color: white;
    font-size: 0.9em;
    font-weight: 400;
    width: 100%;
}

main #work .slider-arrows {
    display: flex;
    margin-top: 2em;
    width: 100%;
    justify-content: flex-end;
}

main #work .slider-arrows button {
    background: none;
    cursor: pointer;
}

.swiper-button-disabled {
    opacity: 0.2;
}

main #work .slider-arrows button:first-of-type {
    margin-right: 2em;
}

main #work .swiper-prev {
    position: relative;
}

main #work .swiper-next {
    position: relative; 
}

/******************* Footer ****************/
footer {
    background: #000000;
}

footer > div {
    padding: 7.5em 2em;
    display: flex;
    max-width: 1150px;
    margin: auto;
    justify-content: space-between;
}

footer .contact {
    display: flex;
    flex-wrap: wrap;
}

footer h2 {
    color: white;
    flex-basis: 100%;
    margin-bottom: 2em;
}

footer h4 {
    color: white;
    order: -1;
    flex-basis: 100%;
    margin-bottom: 2em;
    position: relative;
}

footer h4:before {
    background: white;
}

footer .contact ul {
    list-style-type: none;
    display: flex;
    border-left: 1px solid rgba(255, 255, 255, 0.219);
    margin-left: 1.5em;
}

footer .contact ul li {
    width: 3.2em;
    height: 3.2em;
    margin-left: 1.5em;
}

footer .contact ul li img {
    width: 100%;
}

footer .logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .logo img {
    opacity: 0.25;
}

/******************* Media Querries ****************/

@media screen and (max-width: 800px) {

    button.menu-trigger-open {
        display: block;
    }
    header .desktop nav ul {
        display: none;
    }
    header .desktop {
        padding: 1.5em;
    }


    main #hero {
        height: auto;
        padding: 7.5em 1.5em;
        justify-content: center;
    }
    main #hero > div:first-of-type {
        width: 100%;
    }
    main #hero > div:last-of-type {
        width: 100%;
    }
    main #hero img {
        display: none;
    }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
    main #hero > div:last-of-type {
        width: 40%;
    }
}